header{
    background-color: #004080;
    padding: 20px;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

nav{
    display: flex;
    justify-content: space-evenly;
    background-color: #003366;
    padding: 10px ;
}

nav a {
    color:white;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

main{
    background-color: #d4d4d4;
    text-align: center;
    padding: 20px;
}

section {
    margin: 20px; 
}

main h2{
    color: #003366;
}

.features{
    font-weight: bold;
    margin-bottom:5px;
}

ul{
    padding: 0px;
    margin: 0px;
}
ul li{
    list-style-type: '-';
    list-style-position: inside;
    padding: 10px;   
}


footer{
    background-color: #004080;
    color: white;
    padding: 10px;
    text-align: center;
}

.login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin: 10px
   
}

.form-group{
    margin: 0px 0px 30px 0px;
    background-color: #d4d4d4;
    padding: 30px ;  
    border-radius: 30px;
    box-shadow: 8px 8px 25px rgba(0, 0, 0, 0.2);
    
}

.form-group input{
    padding: 10px;
    background-color: lightyellow;
    border: darkgrey 3px solid;
    border-radius: 5px;
}

.login button{
    padding: 10px;
    background-color: #008000;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login button:hover{
    background-color: darkgreen;
}

.login a{
    text-decoration: none;
    color: #004080;
}

.login a:hover{
    text-decoration: underline;
}

.form-group1{
    margin: 0px 150px;
    background-color: #d4d4d4;
    padding: 0px 30px ;
    display: flex;
    flex-direction: column;
  
}

.form-group1 label{
    margin-bottom: 10px;
}

.form-group1 input:hover{
    border: blue solid 3px
}